# Dependencias
node_modules/

# Compilación
dist/
build/

# Variables de entorno (Seguridad)
.env

# Logs y sistemas operativos
*.log
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars

# Node / NestJS
node_modules/
dist/
npm-debug.log